<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerPartsSQL.Properties.Settings.ComputerPartsConnectionString"
            connectionString="Data Source=DESKTOP-D5NBL2A\CANDBOKUL;Initial Catalog=ComputerParts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerPartsSQL.Properties.Settings.ComputerPartsStorageConnectionString"
            connectionString="Data Source=DESKTOP-C96P3S9\SQL;Initial Catalog=ComputerPartsStorage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>